*, *::before, *::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

nav .navRedes {
  width: 100%;
  height: 30px;
  background-color: black;
}
nav .navRedes div {
  height: 100%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
nav .navRedes div .navInstagrame {
  width: 20px;
  height: 20px;
  background-image: url(../assets/instagram.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navInstagrame:hover {
  background-image: url(../assets/instagram2.png);
  transform: scale(1.1);
}
nav .navRedes div .navFacebook {
  width: 20px;
  height: 20px;
  background-image: url(../assets/facebook.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navFacebook:hover {
  background-image: url(../assets/facebook2.png);
  transform: scale(1.1);
}
nav .navRedes div .navYoutube {
  width: 20px;
  height: 20px;
  background-image: url(../assets/youtube.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navYoutube:hover {
  background-image: url(../assets/youtube2.png);
  transform: scale(1.1);
}
nav .navRedes div .navTiktok {
  width: 20px;
  height: 20px;
  background-image: url(../assets/tiktok.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navTiktok:hover {
  background-image: url(../assets/tiktok2.png);
  transform: scale(1.1);
}
nav .navegador {
  width: 100%;
  height: 90px;
  background-color: #342c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
nav .navegador .menuHamb {
  display: none;
}
nav .navegador img {
  width: 100px;
  transition: 0.3s;
}
nav .navegador img:hover {
  transform: scale(1.15);
}
nav .navegador .itemsUl {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav .navegador .itemsUl li {
  transition: 0.3s;
}
nav .navegador .itemsUl li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 1.2rem;
}
nav .navegador .itemsUl li a:hover {
  color: #fbb344;
}
nav .navegador .itemsUl li:hover {
  transform: scale(1.15);
}
nav .navegador .itemsUl .productos {
  position: relative;
}
nav .navegador .itemsUl .productos .arrow {
  width: 15px;
  margin: 0 0 -2px 6px;
  transform: rotate(-90deg);
}
nav .navegador .itemsUl .productos .productoModal {
  position: absolute;
  background-color: #654b30;
  border-radius: 0 0 6px 6px;
  width: 200px;
  height: 20vh;
  top: 60px;
  right: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.5s ease-in-out;
  text-align: center;
}
nav .navegador .itemsUl .productos:hover {
  transform: none;
}
nav .navegador .itemsUl .productos:hover .arrow {
  transform: rotate(0);
}
nav .navegador .itemsUl .productos:hover .productoModal {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}
nav .navegador .carritoCampo {
  position: relative;
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navegador .carritoCampo div {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url(../assets/carrito.png);
  background-size: cover;
  transition: 0.3s;
}
nav .navegador .carritoCampo div:hover {
  background-image: url(../assets/carrito2.png);
  transform: scale(1.1);
}
nav .navegador .carritoCampo p {
  background-color: black;
  color: #fbb344;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 10;
}

@media screen and (max-width: 540px) {
  nav .navegador {
    padding: 0 5px 0 5px;
    height: 70px;
    position: relative;
  }
  nav .navegador .menuHamb {
    display: block;
    margin-top: 5px;
  }
  nav .navegador .menuHamb .hamburguesa {
    width: 30px;
  }
  nav .navegador .menuHamb .menuShow {
    position: absolute;
    background-color: #fbb344;
    border-radius: 0 0 1rem 0;
    width: 40%;
    height: 40vh;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease-in-out;
  }
  nav .navegador .menuHamb .menuShow li {
    list-style: none;
  }
  nav .navegador .menuHamb .menuShow li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
  }
  nav .navegador .menuHamb .menuShow li a:hover {
    color: #342c2c;
  }
  nav .navegador .menuHamb .menuShow .productos {
    position: relative;
    width: 100%;
    text-align: center;
  }
  nav .navegador .menuHamb .menuShow .productos .arrow {
    width: 20px;
    margin: 0 0 -2px 6px;
    transform: rotate(-90deg);
  }
  nav .navegador .menuHamb .menuShow .productos .productoModal {
    position: absolute;
    background-color: #654b30;
    border-radius: 0 0 1em 0;
    width: 100%;
    height: 23vh;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  nav .navegador .menuHamb .menuShow .productos .productoModal a {
    color: white;
  }
  nav .navegador .menuHamb .menuShow .productos .productoModal a.hover {
    color: #342c2c;
  }
  nav .navegador .menuHamb .menuShow .productos .arrowOn {
    transform: rotate(0);
  }
  nav .navegador .menuHamb .menuShow .productos .productosModalOn {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  nav .navegador .menuHamb .menuShowOn {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  nav .navegador img {
    width: 80px;
    margin-left: 8px;
  }
  nav .navegador .itemsUl {
    display: none;
  }
  nav .navegador .carritoCampo div {
    width: 30px;
    height: 30px;
  }
  nav .navegador .carritoCampo p {
    right: 5px;
  }
}
header {
  width: 100%;
  height: 50vh;
  background-color: #cccccc;
}

.curiosidades .curiosidadesMiel {
  margin-top: 6rem;
}
.curiosidades .curiosidadesMiel h3 {
  color: #fbb344;
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  margin: 1rem 0;
  text-align: center;
}
.curiosidades .curiosidadesMiel .containerCards {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  row-gap: 2rem;
}
.curiosidades .curiosidadesMiel .containerCards .card {
  position: relative;
  width: 300px;
  height: 200px;
}
.curiosidades .curiosidadesMiel .containerCards .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.curiosidades .curiosidadesMiel .containerCards .card .face h3 {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 70px;
  color: white;
  font-size: 1.6rem;
}
.curiosidades .curiosidadesMiel .containerCards .card .face img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}
.curiosidades .curiosidadesMiel .containerCards .card .front {
  transform: perspective(600p) rotateY(0deg);
  box-shadow: 0 5px 10px #342c2c;
}
.curiosidades .curiosidadesMiel .containerCards .card .back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #fbb344;
  padding: 15px;
  color: #342c2c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 5px 10px #342c2c;
}
.curiosidades .curiosidadesMiel .containerCards .card .back p {
  font-weight: 500;
}
.curiosidades .curiosidadesMiel .containerCards .card .back .separador {
  border-top: solid 1px #342c2c;
  height: 50px;
  line-height: 50px;
}
.curiosidades .curiosidadesMiel .containerCards .card .back a {
  font-weight: #342c2c;
  color: #342c2c;
  text-decoration: none;
  transition: 0.3s;
}
.curiosidades .curiosidadesMiel .containerCards .card .back a:hover {
  color: white;
}
.curiosidades .curiosidadesMiel .containerCards .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.curiosidades .curiosidadesMiel .containerCards .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

@media screen and (max-width: 540px) {
  .curiosidades .curiosidadesMiel h3 {
    font-size: 3rem;
  }
  .curiosidades .curiosidadesMiel .containerCards {
    margin-top: 2rem;
  }
}
.formulario {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario h3 {
  color: #fbb344;
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  margin: 1rem 0;
  text-align: center;
}
.formulario .formularioContainer {
  width: 80%;
  height: 100%;
  border: 1px solid #342c2c;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.formulario .formularioContainer .contactoContainer {
  width: 50%;
  min-height: 400px;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.formulario .formularioContainer .contactoContainer div {
  gap: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.formulario .formularioContainer .contactoContainer div img {
  width: 30px;
}
.formulario .formularioContainer .contactoContainer div p {
  font-weight: 600;
}
.formulario .formularioContainer .contactoContainer div ul {
  list-style: none;
  margin-top: 1rem;
  font-weight: 600;
}
.formulario .formularioContainer .separadorLinea {
  display: none;
}
.formulario .formularioContainer form {
  width: 50%;
  min-height: 400PX;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.formulario .formularioContainer form input {
  width: 100%;
  border: 1px solid #342c2c;
  border-radius: 6px;
  padding: 6px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}
.formulario .formularioContainer form input:hover {
  box-shadow: -1px 1px 14px 0px rgba(251, 179, 68, 0.75);
  -webkit-box-shadow: -1px 1px 14px 0px rgba(251, 179, 68, 0.75);
  -moz-box-shadow: -1px 1px 14px 0px rgba(251, 179, 68, 0.75);
}
.formulario .formularioContainer form textarea {
  width: 100%;
  resize: none;
  border: 1px solid #342c2c;
  border-radius: 6px;
  padding: 6px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}
.formulario .formularioContainer form textarea:hover {
  box-shadow: -1px 1px 14px 0px rgba(251, 179, 68, 0.75);
  -webkit-box-shadow: -1px 1px 14px 0px rgba(251, 179, 68, 0.75);
  -moz-box-shadow: -1px 1px 14px 0px rgba(251, 179, 68, 0.75);
}
.formulario .formularioContainer form button {
  color: #342c2c;
  font-weight: 600;
  font-size: 1.1rem;
  width: 10rem;
  background-color: #fbb344;
  border: solid 2px #fbb344;
  border-radius: 6px;
  transition: 0.3s;
}
.formulario .formularioContainer form button:hover {
  background-color: white;
}

@media screen and (max-width: 540px) {
  .formulario h3 {
    font-size: 3rem;
  }
  .formulario .formularioContainer {
    width: 90%;
  }
  .formulario .formularioContainer .contactoContainer {
    width: 100%;
    min-height: 200px;
    gap: 0;
  }
  .formulario .formularioContainer .contactoContainer div ul {
    margin-top: 0;
  }
  .formulario .formularioContainer .separadorLinea {
    display: block;
    width: 90%;
    height: 5px;
    background-color: #342c2c;
    margin: 2rem 0;
    border-radius: 6px;
  }
  .formulario .formularioContainer form {
    width: 100%;
  }
}
footer {
  width: 100%;
  height: 100%;
  background-color: #342c2c;
}
footer .footerA {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 45px;
}
footer .footerA .footerDivA {
  width: 100%;
  margin-top: 2rem;
}
footer .footerA .footerDivA h3 {
  color: white;
  text-decoration: none;
}
footer .footerA .footerDivA p {
  margin-top: 1rem;
  color: grey;
}
footer .footerA .footerDivB {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
footer .footerA .footerDivB div a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
footer .footerA .footerDivB div a:hover {
  color: #fbb344;
}
footer .footerA .footerDivB div p {
  margin-top: 1rem;
  color: grey;
}
footer .footerB {
  width: 100%;
  padding: 0 15px 0 45px;
  margin-top: 2rem;
}
footer .footerB .footerBDivA {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerB .footerBDivA .footerFacebook {
  background-image: url(../assets/facebookgray.png);
  width: 32px;
  height: 32px;
  transition: 0.3s;
}
footer .footerB .footerBDivA .footerFacebook:hover {
  background-image: url(../assets/facebookgray1.png);
}
footer .footerB .footerBDivA .footerInstagram {
  background-image: url(../assets/instagramgray.png);
  width: 32px;
  height: 32px;
  transition: 0.3s;
}
footer .footerB .footerBDivA .footerInstagram:hover {
  background-image: url(../assets/instagramgray1.png);
}
footer .footerB .footerBDivA .footerYoutube {
  background-image: url(../assets/youtubegray.png);
  width: 32px;
  height: 32px;
  transition: 0.3s;
}
footer .footerB .footerBDivA .footerYoutube:hover {
  background-image: url(../assets/youtubegray1.png);
}
footer .footerB .footerBDivA .footerTiktok {
  background-image: url(../assets/tiktokgray.png);
  width: 32px;
  height: 32px;
  transition: 0.3s;
}
footer .footerB .footerBDivA .footerTiktok:hover {
  background-image: url(../assets/tiktokgray1.png);
}
footer .footerB .footerBDivB {
  margin-top: 2rem;
}
footer .footerB .footerBDivB p {
  color: gray;
}
footer .desarrolladores {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-color: black;
  align-items: center;
}
footer .desarrolladores h3 {
  color: white;
  font-weight: 300;
  font-size: 1rem;
}
footer .desarrolladores p {
  color: gray;
}
footer .desarrolladores .separaA {
  width: 2px;
  height: 20px;
  border-left: solid 2px gray;
}

@media screen and (max-width: 540px) {
  footer {
    text-align: center;
  }
  footer .footerA {
    flex-direction: column;
    padding: 0 15px;
  }
  footer .footerA .footerDivB {
    flex-direction: column;
  }
  footer .footerA .footerDivB div {
    margin-bottom: 1rem;
  }
  footer .footerA .footerDivB div p {
    margin: 0;
  }
  footer .footerB {
    width: 100%;
    padding: 0 15px;
  }
  footer .footerB .footerBDivA {
    width: 100%;
  }
}
@media screen and (max-width: 769px) {
  footer .desarrolladores {
    flex-direction: column;
    padding: 1rem 0;
  }
  footer .desarrolladores p {
    margin-top: 1rem;
  }
  footer .desarrolladores .separaB {
    width: 90%;
    height: 2px;
    border-top: solid 2px gray;
    margin-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
