*, *::before, *::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

nav .navRedes {
  width: 100%;
  height: 30px;
  background-color: black;
}
nav .navRedes div {
  height: 100%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
nav .navRedes div .navInstagrame {
  width: 20px;
  height: 20px;
  background-image: url(../assets/instagram.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navInstagrame:hover {
  background-image: url(../assets/instagram2.png);
  transform: scale(1.1);
}
nav .navRedes div .navFacebook {
  width: 20px;
  height: 20px;
  background-image: url(../assets/facebook.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navFacebook:hover {
  background-image: url(../assets/facebook2.png);
  transform: scale(1.1);
}
nav .navRedes div .navYoutube {
  width: 20px;
  height: 20px;
  background-image: url(../assets/youtube.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navYoutube:hover {
  background-image: url(../assets/youtube2.png);
  transform: scale(1.1);
}
nav .navRedes div .navTiktok {
  width: 20px;
  height: 20px;
  background-image: url(../assets/tiktok.png);
  background-size: contain;
  transition: 0.3s;
}
nav .navRedes div .navTiktok:hover {
  background-image: url(../assets/tiktok2.png);
  transform: scale(1.1);
}
nav .navegador {
  width: 100%;
  height: 90px;
  background-color: #342c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
nav .navegador img {
  width: 100px;
  transition: 0.3s;
}
nav .navegador img:hover {
  transform: scale(1.15);
}
nav .navegador ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav .navegador ul li {
  transition: 0.3s;
}
nav .navegador ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 1.2rem;
}
nav .navegador ul li a:hover {
  color: #fbb344;
}
nav .navegador ul li:hover {
  transform: scale(1.15);
}
nav .navegador .carritoCampo {
  position: relative;
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .navegador .carritoCampo div {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url(../assets/carrito.png);
  background-size: cover;
  transition: 0.3s;
}
nav .navegador .carritoCampo div:hover {
  background-image: url(../assets/carrito2.png);
  transform: scale(1.1);
}
nav .navegador .carritoCampo p {
  background-color: black;
  color: #fbb344;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 10;
}

@media screen and (max-width: 540px) {
  nav .navegador {
    padding: 0 5px 0 5px;
    height: 70px;
  }
  nav .navegador img {
    width: 80px;
  }
  nav .navegador ul {
    display: none;
  }
  nav .navegador .carritoCampo div {
    width: 40px;
    height: 40px;
  }
  nav .navegador .carritoCampo p {
    right: 5px;
  }
}
header {
  width: 100%;
  height: 100vh;
  background-color: #cccccc;
}

/*# sourceMappingURL=style.css.map */
