header {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    
    .banner {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../photo/headerSecond.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            color: white;
            font-size: 4rem;
            text-align: center;
            padding: 10px;
        }

        p {
            color: white;
            text-align: center;
            width: 60%;
        }
    }

    .bannerAceite {
        margin-top: 6em;
        width: 100%;
        height: 80vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../photo/headerMiel.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            color: white;
            font-size: 4rem;
            text-align: center;
            padding: 10px;
        }

        p {
            color: white;
            text-align: center;
            width: 60%;
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.377);
            border-radius: 1rem;
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 540px) {
    header {
        .banner h3 {
            font-size: 3rem;
        }

        .bannerAceite {
            h3 {
                font-size: 2.5rem;
            }

            p {
                width: 90%;
                margin-top: 2rem;
            }
        }
    }
}